Repository googleapis/python-aiplatform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-python, @googleapis/cdpe-cloudai, @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/python-samples-owners

Address comments
  google/cloud/aiplatform/pipeline_jobs.py
  google/cloud/aiplatform/utils/__init__.py
  google/cloud/aiplatform/utils/json_utils.py
  google/cloud/aiplatform/utils/pipeline_runtime_config_builder.py
  tests/unit/aiplatform/test_pipeline_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

chore: lint
  tests/unit/aiplatform/test_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

feat: add tensorboard support for CustomTrainingJob, CustomContainerTrainingJob, CustomPythonPackageTrainingJob (#462)
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/training_jobs.py
  google/cloud/aiplatform/utils/console_utils.py
  tests/unit/aiplatform/test_end_to_end.py
  tests/unit/aiplatform/test_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

chore(deps): update dependency grpcio to ~=1.38.0
  setup.py
Owners: @googleapis/yoshi-python

chore(deps): update dependency grpcio-testing to ~=1.38.0
  setup.py
Owners: @googleapis/yoshi-python

Address comments
  google/cloud/aiplatform/pipeline_jobs.py
  google/cloud/aiplatform/utils/json_utils.py
  tests/unit/aiplatform/test_pipeline_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

feat: allow the prediction endpoint to be overridden
  google/cloud/aiplatform/constants.py
  google/cloud/aiplatform/initializer.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

feat: allow the prediction endpoint to be overridden (#461)
  google/cloud/aiplatform/constants.py
  google/cloud/aiplatform/initializer.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

chore: add tests to confirm creds are passed to secondary clients
  google/cloud/aiplatform/datasets/dataset.py
  google/cloud/aiplatform/datasets/tabular_dataset.py
  tests/unit/aiplatform/test_datasets.py
Owners: @googleapis/cdpe-cloudai, @googleapis/cloud-aiplatform-model-builder-sdk

chore: spacing
  google/cloud/aiplatform/datasets/tabular_dataset.py
Owners: @googleapis/cdpe-cloudai

chore: lint
  google/cloud/aiplatform/datasets/tabular_dataset.py
  tests/unit/aiplatform/test_datasets.py
Owners: @googleapis/cdpe-cloudai, @googleapis/cloud-aiplatform-model-builder-sdk

chore: lint
  tests/unit/aiplatform/test_datasets.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

fix: pass credentials to BQ and GCS clients (#469)
  google/cloud/aiplatform/datasets/dataset.py
  google/cloud/aiplatform/datasets/tabular_dataset.py
  tests/unit/aiplatform/test_datasets.py
Owners: @googleapis/cdpe-cloudai, @googleapis/cloud-aiplatform-model-builder-sdk

fix: add target_column docstring
  google/cloud/aiplatform/training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

fix: add target_column to _run
  google/cloud/aiplatform/training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

fix: add target_column docstring (#473)
  google/cloud/aiplatform/training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

chore(deps): update dependency grpcio to ~=1.38.0
  setup.py
Owners: @googleapis/yoshi-python

chore(deps): update dependency grpcio-testing to ~=1.38.0
  setup.py
Owners: @googleapis/yoshi-python

Address comments
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/pipeline_jobs.py
  google/cloud/aiplatform/utils/__init__.py
  google/cloud/aiplatform/utils/json_utils.py
  google/cloud/aiplatform/utils/pipeline_utils.py
  tests/unit/aiplatform/test_pipeline_jobs.py
  tests/unit/aiplatform/test_utils.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

Add most missing fields
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/datasets/dataset.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

Add tests for get trainingjob subclass
  tests/unit/aiplatform/test_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

chore: new owl bot post processor docker image
  .github/.OwlBot.lock.yaml
  .pre-commit-config.yaml
  docs/conf.py
  docs/multiprocessing.rst
  noxfile.py
Owners: @googleapis/yoshi-python

fix: remove uri attribute from create-endpoint-sample
  samples/model-builder/create_endpoint_sample.py
Owners: @googleapis/cdpe-cloudai, @googleapis/python-samples-owners

Drop Dataset len, add more attrs, update docstrings
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/datasets/dataset.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_models.py
  tests/unit/aiplatform/test_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

flake8 lint
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

address feeback
  google/cloud/aiplatform/column.py
  google/cloud/aiplatform/datasets/tabular_dataset.py
  google/cloud/aiplatform/datasets/time_series_dataset.py
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
  tests/unit/aiplatform/test_datasets.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

fix test fails
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

Address comments and fix lint
  google/cloud/aiplatform/pipeline_jobs.py
  google/cloud/aiplatform/utils/json_utils.py
  google/cloud/aiplatform/utils/pipeline_utils.py
  tests/unit/aiplatform/test_pipeline_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

fix typo
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

Address reviewer comments
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

Switch 'an' to 'a' when referencing Vertex AI
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/initializer.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

fix: exclude docs and tests from package
  setup.py
Owners: @googleapis/yoshi-python

test bug
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

add column to init
  google/cloud/aiplatform/__init__.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

modify test
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

Fix lint and nox
  google/cloud/aiplatform/hyperparameter_tuning.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
  google/cloud/aiplatform/utils/json_utils.py
  google/cloud/aiplatform/utils/pipeline_utils.py
  tests/unit/aiplatform/test_pipeline_jobs.py
  tests/unit/aiplatform/test_uploader.py
  tests/unit/aiplatform/test_utils.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

Add Pipeline Job to init
  google/cloud/aiplatform/__init__.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

lint
  google/cloud/aiplatform/__init__.py
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

undo column removal from init
  google/cloud/aiplatform/__init__.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

fix: exclude docs and tests from package (#481)
  setup.py
Owners: @googleapis/yoshi-python

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# yoshi-python is the default owner
*                                      @googleapis/yoshi-python

# The AI Platform GAPIC libraries are owned by Cloud AI DPE
/google/cloud/aiplatform*              @googleapis/cdpe-cloudai

# The Vertex SDK is owned by Model Builder SDK Dev team
/google/cloud/aiplatform/*             @googleapis/cloud-aiplatform-model-builder-sdk
/tests/unit/aiplatform/*               @googleapis/cloud-aiplatform-model-builder-sdk

# The Cloud AI DPE team is the default owner for samples
/samples/**/*.py                       @googleapis/cdpe-cloudai @googleapis/python-samples-owners

# The enhanced client library tests are owned by Cloud AI DPE
/tests/unit/enhanced_library/*.py      @googleapis/cdpe-cloudai
