Repository googleapis/python-aiplatform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-python, @googleapis/cdpe-cloudai, @googleapis/cloud-aiplatform-model-builder-sdk, @dizcology, @googleapis/python-samples-owners, @telpirion

fix: Add tests and final touches for PR #207 (#211)
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/utils.py
  tests/unit/aiplatform/test_endpoints.py
  tests/unit/aiplatform/test_models.py
  tests/unit/aiplatform/test_utils.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

feat: moves manual enhanced lib edits outside of generated files (#198)
  google/cloud/aiplatform/gapic/schema/__init__.py
  google/cloud/aiplatform/v1beta1/schema/predict/instance/__init__.py
  google/cloud/aiplatform/v1beta1/schema/predict/params/__init__.py
  google/cloud/aiplatform/v1beta1/schema/predict/prediction/__init__.py
  google/cloud/aiplatform/v1beta1/schema/trainingjob/definition/__init__.py
Owners: @googleapis/cdpe-cloudai

chore(deps): update dependency pytest to v6.2.2 (#186)
  samples/snippets/requirements.txt
Owners: @googleapis/yoshi-python

feat: LRO metadata (#204)
  .sample_configs/process_configs.yaml
  samples/snippets/export_model_sample.py
  samples/snippets/export_model_tabular_classification_sample.py
  samples/snippets/export_model_tabular_classification_sample_test.py
  samples/snippets/export_model_video_action_recognition_sample.py
  samples/snippets/export_model_video_action_recognition_sample_test.py
Owners: @googleapis/yoshi-python, @dizcology, @googleapis/python-samples-owners

fix: adjusts import statement
  google/cloud/aiplatform/v1beta1/schema/predict/prediction_v1beta1/types/text_sentiment.py
Owners: @googleapis/cdpe-cloudai

fix: again the import
  google/cloud/aiplatform/v1beta1/schema/predict/prediction_v1beta1/types/text_sentiment.py
Owners: @googleapis/cdpe-cloudai

fix: deploy_model_custom_trained_model_sample_test
  samples/snippets/deploy_model_custom_trained_model_sample_test.py
Owners: @dizcology, @googleapis/python-samples-owners

fix: Fix sample test (#215)
  samples/snippets/deploy_model_custom_trained_model_sample_test.py
Owners: @dizcology, @googleapis/python-samples-owners

Expose Explanations in service APIs
  google/cloud/aiplatform/__init__.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  tests/unit/aiplatform/test_endpoints.py
  tests/unit/aiplatform/test_jobs.py
  tests/unit/aiplatform/test_models.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

fix: busted test
  tests/unit/gapic/aiplatform_v1beta1/test_prediction_service.py
Owners: @googleapis/yoshi-python

fix: tests
  tests/unit/gapic/aiplatform_v1beta1/test_prediction_service.py
Owners: @googleapis/yoshi-python

chore: adds v1 as default aiplatform
  google/cloud/aiplatform/gapic/__init__.py
Owners: @googleapis/cdpe-cloudai

fix: more changes to gapic/__init__.py
  google/cloud/aiplatform/gapic/__init__.py
Owners: @googleapis/cdpe-cloudai

fix: reverted explainability samples to v1beta1
  samples/snippets/create_batch_prediction_job_bigquery_sample.py
  samples/snippets/explain_tabular_sample.py
  samples/snippets/upload_model_explain_image_managed_container_sample.py
  samples/snippets/upload_model_explain_tabular_managed_container_sample.py
Owners: @dizcology, @googleapis/python-samples-owners

Add SDK-wide delete method, cancel methods to Jobs and TrainingJobs
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/datasets/dataset.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_lro.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

Fix bug, add tests for Job and TrainingJob cancel method
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_jobs.py
  tests/unit/aiplatform/test_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

chore: update prediction endpoint
  .sample_configs/process_configs.yaml
  samples/snippets/explain_tabular_sample.py
  samples/snippets/predict_custom_trained_model_sample.py
  samples/snippets/predict_image_classification_sample.py
  samples/snippets/predict_image_object_detection_sample.py
  samples/snippets/predict_sample.py
  samples/snippets/predict_tabular_classification_sample.py
  samples/snippets/predict_tabular_regression_sample.py
  samples/snippets/predict_text_classification_single_label_sample.py
  samples/snippets/predict_text_entity_extraction_sample.py
  samples/snippets/predict_text_sentiment_analysis_sample.py
Owners: @googleapis/yoshi-python, @dizcology, @googleapis/python-samples-owners

fix: tests
  samples/snippets/create_batch_prediction_job_tabular_forecasting_sample.py
  samples/snippets/export_model_tabular_classification_sample.py
  samples/snippets/upload_model_explain_tabular_managed_container_sample.py
Owners: @dizcology, @googleapis/python-samples-owners

fix: tests
  samples/snippets/create_batch_prediction_job_tabular_forecasting_sample.py
  samples/snippets/export_model_tabular_classification_sample.py
Owners: @dizcology, @googleapis/python-samples-owners

fix: rename schema.training_job.definition tabular_task to automl_tabular
  google/cloud/aiplatform/schema.py
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_automl_image_training_jobs.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

fix: correct text sentiment analysis sample
  .sample_configs/param_handlers/create_training_pipeline_text_sentiment_analysis_sample.py
  samples/snippets/create_training_pipeline_text_sentiment_analysis_sample.py
Owners: @googleapis/yoshi-python, @dizcology, @googleapis/python-samples-owners

fix: sample failures due to v1beta1 features
  samples/snippets/create_batch_prediction_job_bigquery_sample.py
  samples/snippets/explain_tabular_sample.py
  samples/snippets/upload_model_explain_image_managed_container_sample.py
Owners: @dizcology, @googleapis/python-samples-owners

fix: correct text sentiment analysis sample (#222)
  .sample_configs/param_handlers/create_training_pipeline_text_sentiment_analysis_sample.py
  samples/snippets/create_training_pipeline_text_sentiment_analysis_sample.py
Owners: @googleapis/yoshi-python, @dizcology, @googleapis/python-samples-owners

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# yoshi-python is the default owner
*                                      @googleapis/yoshi-python

# The AI Platform GAPIC libraries are owned by Cloud AI DPE
/google/cloud/aiplatform*              @googleapis/cdpe-cloudai

# The AI Platform SDK is owned by Model Builder SDK Dev team
/google/cloud/aiplatform/*             @googleapis/cloud-aiplatform-model-builder-sdk
/tests/unit/aiplatform/*               @googleapis/cloud-aiplatform-model-builder-sdk

# The python-samples-owners team is the default owner for samples
/samples/**/*.py                       @dizcology @googleapis/python-samples-owners

# The enhanced client library tests are owned by @telpirion
/tests/unit/enhanced_library/*.py      @telpirion
