Repository googleapis/python-aiplatform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-python, @googleapis/cdpe-cloudai, @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/python-samples-owners

chore: migrate spanner to the PHP microgenerator
  google/cloud/aiplatform_v1/services/migration_service/client.py
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  tests/unit/gapic/aiplatform_v1/test_migration_service.py
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

chore: migrate storage to the PHP microgenerator
  google/cloud/aiplatform_v1/services/migration_service/client.py
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  tests/unit/gapic/aiplatform_v1/test_migration_service.py
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

chore: migrate home/enterprise/sdm to the PHP microgenerator
  google/cloud/aiplatform_v1/services/migration_service/client.py
  tests/unit/gapic/aiplatform_v1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

chore: migrate videointelligence to the PHP microgenerator
  google/cloud/aiplatform_v1/services/migration_service/client.py
  tests/unit/gapic/aiplatform_v1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

chore: regenerate api index
  docs/conf.py
  docs/multiprocessing.rst
  examples/feature_fragments
  google/cloud/aiplatform_v1/__init__.py
  google/cloud/aiplatform_v1/services/migration_service/client.py
  google/cloud/aiplatform_v1beta1/__init__.py
  google/cloud/aiplatform_v1beta1/services/featurestore_service/async_client.py
  google/cloud/aiplatform_v1beta1/services/featurestore_service/client.py
  google/cloud/aiplatform_v1beta1/services/tensorboard_service/async_client.py
  google/cloud/aiplatform_v1beta1/services/tensorboard_service/client.py
  google/cloud/aiplatform_v1beta1/types/accelerator_type.py
  google/cloud/aiplatform_v1beta1/types/featurestore.py
  google/cloud/aiplatform_v1beta1/types/featurestore_service.py
  google/cloud/aiplatform_v1beta1/types/index_service.py
  google/cloud/aiplatform_v1beta1/types/tensorboard.py
  noxfile.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1beta1/test_featurestore_service.py
Owners: @googleapis/yoshi-python, @googleapis/cdpe-cloudai

chore: upgrade gapic-generator-python to 0.45.2
  google/cloud/aiplatform_v1/services/migration_service/client.py
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1/test_migration_service.py
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

chore: update gapic-generator-typescript to v1.3.2
  google/cloud/aiplatform_v1/services/migration_service/client.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

fix!: BREAKING_CHANGE: remove display_name from FeatureStore feat: add invalid_row_count to ImportFeatureValuesResponse and ImportFeatureValuesOperationMetadata
  google/cloud/aiplatform_v1/services/migration_service/client.py
  google/cloud/aiplatform_v1beta1/services/featurestore_service/async_client.py
  google/cloud/aiplatform_v1beta1/services/featurestore_service/client.py
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  google/cloud/aiplatform_v1beta1/services/tensorboard_service/async_client.py
  google/cloud/aiplatform_v1beta1/services/tensorboard_service/client.py
  google/cloud/aiplatform_v1beta1/types/accelerator_type.py
  google/cloud/aiplatform_v1beta1/types/featurestore.py
  google/cloud/aiplatform_v1beta1/types/featurestore_service.py
  google/cloud/aiplatform_v1beta1/types/index_service.py
  google/cloud/aiplatform_v1beta1/types/tensorboard.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1/test_migration_service.py
  tests/unit/gapic/aiplatform_v1beta1/test_featurestore_service.py
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

chore: release gapic-generator-php v0.1.5
  google/cloud/aiplatform_v1/services/migration_service/client.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

fix!: Fixing PHP, Ruby and C# package names for the CloudDMS API. This is a breaking change for the above languages.
  google/cloud/aiplatform_v1/services/migration_service/client.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

chore: upgrade gapic-generator-python to 0.46.1
  examples/feature_fragments
  google/cloud/aiplatform_v1/__init__.py
  google/cloud/aiplatform_v1/services/migration_service/client.py
  google/cloud/aiplatform_v1beta1/__init__.py
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1/test_migration_service.py
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/yoshi-python, @googleapis/cdpe-cloudai

feat: adds enhanced protos for time series forecasting
  docs/conf.py
  docs/multiprocessing.rst
  google/cloud/aiplatform_v1/services/migration_service/client.py
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  noxfile.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1/test_migration_service.py
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/yoshi-python, @googleapis/cdpe-cloudai

chore: restores missing BUILD.bazel build rules
  docs/conf.py
  docs/multiprocessing.rst
  google/cloud/aiplatform/v1beta1/schema/predict/prediction/__init__.py
  google/cloud/aiplatform/v1beta1/schema/predict/prediction_v1beta1/__init__.py
  google/cloud/aiplatform/v1beta1/schema/predict/prediction_v1beta1/types/__init__.py
  google/cloud/aiplatform/v1beta1/schema/predict/prediction_v1beta1/types/time_series_forecasting.py
  google/cloud/aiplatform/v1beta1/schema/trainingjob/definition/__init__.py
  google/cloud/aiplatform/v1beta1/schema/trainingjob/definition_v1beta1/__init__.py
  google/cloud/aiplatform/v1beta1/schema/trainingjob/definition_v1beta1/types/__init__.py
  google/cloud/aiplatform/v1beta1/schema/trainingjob/definition_v1beta1/types/automl_time_series_forecasting.py
  google/cloud/aiplatform_v1/services/migration_service/client.py
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  noxfile.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/yoshi-python, @googleapis/cdpe-cloudai

chore: Update gapic-generator-ruby
  google/cloud/aiplatform_v1/services/migration_service/client.py
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1/test_migration_service.py
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

chore: update Go generator to v0.20.0
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

chore: regenerate API index
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

chore: Add package/namespace options for C#, Ruby and PHP. This is a breaking change *only* for those languages, and packages for those languages have not been published yet.
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

feat: added API for continuous test
  google/cloud/aiplatform_v1/services/migration_service/client.py
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1/test_migration_service.py
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

docs: removes tinyurl links
  google/cloud/aiplatform_v1beta1/services/dataset_service/async_client.py
  google/cloud/aiplatform_v1beta1/services/dataset_service/client.py
  google/cloud/aiplatform_v1beta1/services/endpoint_service/async_client.py
  google/cloud/aiplatform_v1beta1/services/endpoint_service/client.py
  google/cloud/aiplatform_v1beta1/services/index_endpoint_service/async_client.py
  google/cloud/aiplatform_v1beta1/services/index_endpoint_service/client.py
  google/cloud/aiplatform_v1beta1/services/index_service/async_client.py
  google/cloud/aiplatform_v1beta1/services/index_service/client.py
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  google/cloud/aiplatform_v1beta1/services/model_service/async_client.py
  google/cloud/aiplatform_v1beta1/services/model_service/client.py
  google/cloud/aiplatform_v1beta1/types/annotation.py
  google/cloud/aiplatform_v1beta1/types/dataset.py
  google/cloud/aiplatform_v1beta1/types/dataset_service.py
  google/cloud/aiplatform_v1beta1/types/endpoint_service.py
  google/cloud/aiplatform_v1beta1/types/explanation.py
  google/cloud/aiplatform_v1beta1/types/explanation_metadata.py
  google/cloud/aiplatform_v1beta1/types/index.py
  google/cloud/aiplatform_v1beta1/types/index_endpoint_service.py
  google/cloud/aiplatform_v1beta1/types/index_service.py
  google/cloud/aiplatform_v1beta1/types/machine_resources.py
  google/cloud/aiplatform_v1beta1/types/model.py
  google/cloud/aiplatform_v1beta1/types/model_evaluation.py
  google/cloud/aiplatform_v1beta1/types/model_evaluation_slice.py
  google/cloud/aiplatform_v1beta1/types/model_service.py
  google/cloud/aiplatform_v1beta1/types/training_pipeline.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

feat: OSConfig: add ExecResourceOutput and per step error message.
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

feat: publish cloud/sql/v1beta4 artifacts
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

feat: publish CCAI Insights protos to googleapis repo.
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

chore: update ruby rules to use the correct assembly_pkg rule
  google/cloud/aiplatform_v1/services/migration_service/client.py
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  synth.metadata
  tests/unit/gapic/aiplatform_v1/test_migration_service.py
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

fix: update repo name
  google/cloud/aiplatform_v1/services/migration_service/client.py
  google/cloud/aiplatform_v1beta1/services/migration_service/client.py
  tests/unit/gapic/aiplatform_v1/test_migration_service.py
  tests/unit/gapic/aiplatform_v1beta1/test_migration_service.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python

feat: support additional_experiments for AutoML Tables and AutoML Forecasting
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_automl_forecasting_training_jobs.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

feat: support additional_experiments for AutoML Tables and AutoML Forecasting (#428)
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_automl_forecasting_training_jobs.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

fix: MetadataStore creation use init credentials
  google/cloud/aiplatform/initializer.py
  google/cloud/aiplatform/metadata/metadata_store.py
  tests/unit/aiplatform/test_metadata.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

fix: Enable MetadataStore to use credentials when aiplatfrom.init passed experiment and credentials. (#460)
  google/cloud/aiplatform/initializer.py
  google/cloud/aiplatform/metadata/metadata_store.py
  tests/unit/aiplatform/test_metadata.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

feat: add tensorboard support for CustomTrainingJob, CustomContainerTrainingJob, CustomPythonPackageTrainingJob. Log tensorboard uri when launching training job.
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/training_jobs.py
  google/cloud/aiplatform/utils/console_utils.py
  tests/unit/aiplatform/test_end_to_end.py
  tests/unit/aiplatform/test_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

chore: lint
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/utils/console_utils.py
  tests/unit/aiplatform/test_end_to_end.py
  tests/unit/aiplatform/test_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

chore: add docstring for custom job console uri util
  google/cloud/aiplatform/utils/console_utils.py
Owners: @googleapis/cdpe-cloudai

Add pipeline client to vertex
  google/cloud/aiplatform/compat/types/__init__.py
  google/cloud/aiplatform/pipeline_jobs.py
  google/cloud/aiplatform/utils/__init__.py
  google/cloud/aiplatform/utils/pipeline_runtime_config_builder.py
  tests/unit/aiplatform/test_pipeline_jobs.py
Owners: @googleapis/cdpe-cloudai, @googleapis/cloud-aiplatform-model-builder-sdk

feat: add pipeline client init and run to vertex AI
  google/cloud/aiplatform/compat/types/__init__.py
  google/cloud/aiplatform/pipeline_jobs.py
  google/cloud/aiplatform/utils/__init__.py
  google/cloud/aiplatform/utils/pipeline_runtime_config_builder.py
  tests/unit/aiplatform/test_pipeline_jobs.py
Owners: @googleapis/cdpe-cloudai, @googleapis/cloud-aiplatform-model-builder-sdk

fix format
  google/cloud/aiplatform/hyperparameter_tuning.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/pipeline_jobs.py
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_pipeline_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

add transformation_specs
  google/cloud/aiplatform/column.py
  google/cloud/aiplatform/datasets/tabular_dataset.py
  google/cloud/aiplatform/datasets/time_series_dataset.py
  google/cloud/aiplatform/training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

Fix response not being printed
  samples/snippets/predict_tabular_classification_sample.py
Owners: @googleapis/cdpe-cloudai, @googleapis/python-samples-owners

chore: lint
  tests/unit/aiplatform/test_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

add tests
  google/cloud/aiplatform/datasets/tabular_dataset.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
  tests/unit/aiplatform/test_datasets.py
Owners: @googleapis/cdpe-cloudai, @googleapis/cloud-aiplatform-model-builder-sdk

fix: pass credentials to BQ and GCS clients
  google/cloud/aiplatform/datasets/tabular_dataset.py
  tests/unit/aiplatform/test_datasets.py
Owners: @googleapis/cdpe-cloudai, @googleapis/cloud-aiplatform-model-builder-sdk

chore: lint
  tests/unit/aiplatform/test_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# yoshi-python is the default owner
*                                      @googleapis/yoshi-python

# The AI Platform GAPIC libraries are owned by Cloud AI DPE
/google/cloud/aiplatform*              @googleapis/cdpe-cloudai

# The Vertex SDK is owned by Model Builder SDK Dev team
/google/cloud/aiplatform/*             @googleapis/cloud-aiplatform-model-builder-sdk
/tests/unit/aiplatform/*               @googleapis/cloud-aiplatform-model-builder-sdk

# The Cloud AI DPE team is the default owner for samples
/samples/**/*.py                       @googleapis/cdpe-cloudai @googleapis/python-samples-owners

# The enhanced client library tests are owned by Cloud AI DPE
/tests/unit/enhanced_library/*.py      @googleapis/cdpe-cloudai
