Repository googleapis/python-aiplatform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-python, @googleapis/cdpe-cloudai, @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/python-samples-owners

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# yoshi-python is the default owner
*                                      @googleapis/yoshi-python

# The AI Platform GAPIC libraries are owned by Cloud AI DPE
/google/cloud/aiplatform*              @googleapis/cdpe-cloudai

# The Vertex SDK is owned by Model Builder SDK Dev team
/google/cloud/aiplatform/*             @googleapis/cloud-aiplatform-model-builder-sdk
/tests/unit/aiplatform/*               @googleapis/cloud-aiplatform-model-builder-sdk

# The Cloud AI DPE team is the default owner for samples
/samples/**/*.py                       @googleapis/cdpe-cloudai @googleapis/python-samples-owners

# The enhanced client library tests are owned by Cloud AI DPE
/tests/unit/enhanced_library/*.py      @googleapis/cdpe-cloudai

chore(deps): update dependency grpcio-testing to ~=1.38.1 (#497)
  setup.py
Owners: @googleapis/yoshi-python

making the uploader depend on tensorflow-proper
  setup.py
Owners: @googleapis/yoshi-python

test: disabled tests to reduce the cost & resolve quota issues
  samples/snippets/create_batch_prediction_job_tabular_forecasting_sample_test.py
  samples/snippets/create_batch_prediction_job_text_classification_sample_test.py
  samples/snippets/create_batch_prediction_job_text_entity_extraction_sample_test.py
  samples/snippets/create_batch_prediction_job_text_sentiment_analysis_sample_test.py
  samples/snippets/create_batch_prediction_job_video_action_recognition_sample_test.py
  samples/snippets/create_batch_prediction_job_video_classification_sample_test.py
  samples/snippets/create_batch_prediction_job_video_object_tracking_sample_test.py
  samples/snippets/create_dataset_image_sample_test.py
  samples/snippets/create_dataset_tabular_gcs_sample_test.py
  samples/snippets/create_dataset_video_sample_test.py
  samples/snippets/create_hyperparameter_tuning_job_python_package_sample_test.py
  samples/snippets/create_training_pipeline_custom_job_sample_test.py
  samples/snippets/create_training_pipeline_custom_training_managed_dataset_sample_test.py
  samples/snippets/create_training_pipeline_image_classification_sample_test.py
  samples/snippets/create_training_pipeline_image_object_detection_sample_test.py
  samples/snippets/create_training_pipeline_tabular_classification_sample_test.py
  samples/snippets/create_training_pipeline_tabular_forecasting_sample_test.py
  samples/snippets/create_training_pipeline_text_sentiment_analysis_sample_test.py
  samples/snippets/create_training_pipeline_video_action_recognition_sample_test.py
  samples/snippets/create_training_pipeline_video_classification_sample_test.py
  samples/snippets/deploy_model_custom_trained_model_sample_test.py
  samples/snippets/export_model_tabular_classification_sample_test.py
  samples/snippets/export_model_video_action_recognition_sample_test.py
  samples/snippets/import_data_text_entity_extraction_sample_test.py
  samples/snippets/import_data_video_action_recognition_sample_test.py
  samples/snippets/import_data_video_classification_sample_test.py
  samples/snippets/upload_model_explain_image_managed_container_sample_test.py
  samples/snippets/upload_model_explain_tabular_managed_container_sample_test.py
Owners: @googleapis/cdpe-cloudai, @googleapis/python-samples-owners

chore: Remove commit body and PR# from post-processor-changes-txt
  .github/.OwlBot.lock.yaml
  CONTRIBUTING.rst
Owners: @googleapis/yoshi-python

chore(python): simplify nox steps in CONTRIBUTING.rst
  .github/.OwlBot.lock.yaml
  CONTRIBUTING.rst
Owners: @googleapis/yoshi-python

fix: Set prediction client when listing Endpoints
  google/cloud/aiplatform/models.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

chore(deps): update dependency google-cloud-aiplatform to v1.1.1 (#503)
  samples/snippets/requirements.txt
Owners: @googleapis/yoshi-python
