Repository googleapis/python-aiplatform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-python, @googleapis/cdpe-cloudai, @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/python-samples-owners

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# yoshi-python is the default owner
*                                      @googleapis/yoshi-python

# The AI Platform GAPIC libraries are owned by Cloud AI DPE
/google/cloud/aiplatform*              @googleapis/cdpe-cloudai

# The Vertex SDK is owned by Model Builder SDK Dev team
/google/cloud/aiplatform/*             @googleapis/cloud-aiplatform-model-builder-sdk
/tests/unit/aiplatform/*               @googleapis/cloud-aiplatform-model-builder-sdk

# The Cloud AI DPE team is the default owner for samples
/samples/**/*.py                       @googleapis/cdpe-cloudai @googleapis/python-samples-owners

# The enhanced client library tests are owned by Cloud AI DPE
/tests/unit/enhanced_library/*.py      @googleapis/cdpe-cloudai

fix: Remove URI attribute from Endpoint sample (#478)
  samples/model-builder/create_endpoint_sample.py
Owners: @googleapis/cdpe-cloudai, @googleapis/python-samples-owners

chore(deps): update dependency grpcio to ~=1.38.0
  setup.py
Owners: @googleapis/yoshi-python

chore(deps): update dependency grpcio-testing to ~=1.38.0
  setup.py
Owners: @googleapis/yoshi-python

Address comments, move base attrs to subclasses
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

Drop unused import
  google/cloud/aiplatform/base.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

Add test to ensure supported training schemas are always unique
  tests/unit/aiplatform/test_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

Address reviewer comments
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

feat: Expose additional attributes into Vertex SDK to close gap with GAPIC (#477)
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/initializer.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_models.py
  tests/unit/aiplatform/test_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

chore: new owl bot post processor docker image
  .github/.OwlBot.lock.yaml
  docs/conf.py
Owners: @googleapis/yoshi-python

Fix pipeline runtime_config layer
  google/cloud/aiplatform/pipeline_jobs.py
  google/cloud/aiplatform/utils/pipeline_utils.py
  tests/unit/aiplatform/test_pipeline_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

Add pipeline name
  google/cloud/aiplatform/pipeline_jobs.py
  tests/unit/aiplatform/test_pipeline_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

chore(deps): update dependency google-cloud-aiplatform to v1.0.1 (#433)
  samples/snippets/requirements.txt
Owners: @googleapis/yoshi-python

Add list method and fix utils
  google/cloud/aiplatform/pipeline_jobs.py
  google/cloud/aiplatform/utils/pipeline_utils.py
  tests/unit/aiplatform/test_utils.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk, @googleapis/cdpe-cloudai

Fix lint
  google/cloud/aiplatform/jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

chore(deps): update dependency grpcio to ~=1.38.0
  setup.py
Owners: @googleapis/yoshi-python

chore(deps): update dependency grpcio-testing to ~=1.38.0
  setup.py
Owners: @googleapis/yoshi-python

chore(deps): update dependency google-cloud-aiplatform to v1.1.0
  samples/snippets/requirements.txt
Owners: @googleapis/yoshi-python

chore(deps): update dependency google-cloud-aiplatform to v1.1.0 (#485)
  samples/snippets/requirements.txt
Owners: @googleapis/yoshi-python

feat: add cancel method to pipeline client
  google/cloud/aiplatform/pipeline_jobs.py
  tests/unit/aiplatform/test_pipeline_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

Init end-to-end tabular integration test + script
  tests/system/aiplatform/test_e2e_tabular.py
  tests/system/aiplatform/test_resources/california_housing_training_script.py
Owners: @googleapis/yoshi-python

docs: omit mention of Python 2.7 in CONTRIBUTING.rst
  .github/.OwlBot.lock.yaml
  CONTRIBUTING.rst
Owners: @googleapis/yoshi-python

chore(deps): update dependency grpcio to ~=1.38.0
  setup.py
Owners: @googleapis/yoshi-python

chore(deps): update dependency grpcio-testing to ~=1.38.0
  setup.py
Owners: @googleapis/yoshi-python

address comments
  google/cloud/aiplatform/datasets/time_series_dataset.py
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
Owners: @googleapis/cdpe-cloudai, @googleapis/cloud-aiplatform-model-builder-sdk

chore: update precommit hook pre-commit/pre-commit-hooks to v4 (#1083)
  .github/.OwlBot.lock.yaml
  .pre-commit-config.yaml
Owners: @googleapis/yoshi-python

remove self arg
  google/cloud/aiplatform/training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

lint
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

fix: check if training_task_metadata is populated before logging backingCustomJob
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

feat: add cancel method to pipeline client (#488)
  google/cloud/aiplatform/pipeline_jobs.py
  tests/unit/aiplatform/test_pipeline_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

fix: check if training_task_metadata is populated before logging backingCustomJob (#494)
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_training_jobs.py
Owners: @googleapis/cloud-aiplatform-model-builder-sdk

Checkpoint, add assertions on prediction response
  tests/system/aiplatform/test_e2e_tabular.py
Owners: @googleapis/yoshi-python

feat: add basic metadata structure for XAI explain
  google/cloud/aiplatform/explain/metadata/__init__.py
  google/cloud/aiplatform/explain/metadata/metadata_builder.py
  google/cloud/aiplatform/explain/metadata/tf/__init__.py
Owners: @googleapis/cdpe-cloudai

chore(deps): update dependency google-cloud-aiplatform to v1.1.1
  samples/snippets/requirements.txt
Owners: @googleapis/yoshi-python

fix: require google-api-core>=1.26.0
  setup.py
  testing/constraints-3.6.txt
Owners: @googleapis/yoshi-python

fix: fix typo in setup.py
  setup.py
Owners: @googleapis/yoshi-python

feat: Add structure for XAI explain (from XAI SDK) (#502)
  google/cloud/aiplatform/explain/metadata/__init__.py
  google/cloud/aiplatform/explain/metadata/metadata_builder.py
  google/cloud/aiplatform/explain/metadata/tf/__init__.py
Owners: @googleapis/cdpe-cloudai

chore(deps): update dependency grpcio to ~=1.38.1
  setup.py
Owners: @googleapis/yoshi-python

feat: add tf2 get_metadata function
  google/cloud/aiplatform/explain/metadata/tf/v2/__init__.py
  google/cloud/aiplatform/explain/metadata/tf/v2/saved_model_metadata_builder.py
  setup.py
  tests/unit/aiplatform/test_explain_saved_model_metadata_builder_test.py
Owners: @googleapis/cdpe-cloudai, @googleapis/yoshi-python, @googleapis/cloud-aiplatform-model-builder-sdk

chore(deps): update dependency grpcio to ~=1.38.1 (#496)
  setup.py
Owners: @googleapis/yoshi-python

chore(deps): update dependency grpcio-testing to ~=1.38.1
  setup.py
Owners: @googleapis/yoshi-python
