Repository googleapis/python-aiplatform, pull requests merged in 2021-08, with the labels that each got.

#582 chore: skip samples checks for python 3.6/8/9
  samples/snippets/noxfile_config.py
Labels: api: aiplatform, cla: yes, samples

#587 chore: require CODEOWNER review and up to date branches
  .github/sync-repo-settings.yaml
Labels: api: aiplatform, automerge, cla: yes

#583 feat: add support for export_evaluated_data_items_config in AutoMLTab…
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
Labels: api: aiplatform, automerge, cla: yes

#586 feat: expose base_output_dir for custom job
  google/cloud/aiplatform/jobs.py
  tests/unit/aiplatform/test_custom_job.py
  tests/unit/aiplatform/test_hyperparameter_tuning_job.py
Labels: api: aiplatform, cla: yes

#590 fix: Fixed the column name corruption bug in TabularDataset.column_names
  google/cloud/aiplatform/datasets/tabular_dataset.py
Labels: api: aiplatform, cla: yes

#593 fix: re-remove extra TB dependencies introduced due to merge conflict
  setup.py
Labels: automerge, cla: yes, api: aiplatform

#592 refactor: Extract out common logic from Tensorboard BatchedRequestSender into a base class.
  google/cloud/aiplatform/tensorboard/uploader.py
  tests/unit/aiplatform/test_uploader.py
Labels: automerge, cla: yes, api: aiplatform

#588 feat: Added the VertexAiResourceNoun.to_dict() method
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/metadata/resource.py
  tests/system/aiplatform/test_dataset.py
Labels: automerge, cla: yes, api: aiplatform

#601 Feat: add labels to all resource creation apis
  google/cloud/aiplatform/datasets/dataset.py
  google/cloud/aiplatform/datasets/image_dataset.py
  google/cloud/aiplatform/datasets/tabular_dataset.py
  google/cloud/aiplatform/datasets/text_dataset.py
  google/cloud/aiplatform/datasets/time_series_dataset.py
  google/cloud/aiplatform/datasets/video_dataset.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/pipeline_jobs.py
  google/cloud/aiplatform/tensorboard/tensorboard.py
  google/cloud/aiplatform/training_jobs.py
  google/cloud/aiplatform/utils/__init__.py
  tests/unit/aiplatform/test_automl_forecasting_training_jobs.py
  tests/unit/aiplatform/test_automl_image_training_jobs.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
  tests/unit/aiplatform/test_automl_text_training_jobs.py
  tests/unit/aiplatform/test_automl_video_training_jobs.py
  tests/unit/aiplatform/test_custom_job.py
  tests/unit/aiplatform/test_datasets.py
  tests/unit/aiplatform/test_endpoints.py
  tests/unit/aiplatform/test_hyperparameter_tuning_job.py
  tests/unit/aiplatform/test_models.py
  tests/unit/aiplatform/test_training_jobs.py
  tests/unit/aiplatform/test_utils.py
Labels: automerge, cla: yes, api: aiplatform

#578 chore: Update testing configs and structure for speed
  .github/sync-repo-settings.yaml
  .kokoro/continuous/system.cfg
  .kokoro/continuous/unit.cfg
  .kokoro/presubmit/presubmit.cfg
  .kokoro/presubmit/release.cfg
  owlbot.py
  samples/model-builder/noxfile_config.py
  samples/model-builder/requirements-test.txt
  samples/model-builder/requirements-tests.txt
  samples/model-builder/requirements.txt
  samples/snippets/noxfile_config.py
  samples/snippets/requirements-test.txt
  samples/snippets/requirements-tests.txt
  samples/snippets/requirements.txt
  setup.py
Labels: cla: yes, api: aiplatform

#602 feat: expose boot disk type and size for CustomTrainingJob, CustomPythonPackageTrainingJob, and CustomContainerTrainingJob
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/training_jobs.py
  google/cloud/aiplatform/utils/worker_spec_utils.py
  tests/unit/aiplatform/test_custom_job.py
  tests/unit/aiplatform/test_end_to_end.py
  tests/unit/aiplatform/test_training_jobs.py
Labels: automerge, cla: yes, api: aiplatform

#594 feat: cloud training to local prediction
  google/cloud/aiplatform/experimental/vertex_model/base.py
  google/cloud/aiplatform/experimental/vertex_model/serializers/dataloaders.py
  google/cloud/aiplatform/experimental/vertex_model/serializers/model.py
  google/cloud/aiplatform/experimental/vertex_model/serializers/pandas.py
  google/cloud/aiplatform/experimental/vertex_model/serializers/pytorch.py
  google/cloud/aiplatform/experimental/vertex_model/serializers/serializer_utils.py
  google/cloud/aiplatform/experimental/vertex_model/utils/source_utils.py
  tests/unit/aiplatform/test_cloud_training_job.py
  tests/unit/aiplatform/test_serialization.py
Labels: cla: yes, api: aiplatform

#631 fix: Update BatchPredictionJob.iter_outputs() and BQ docstrings
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  tests/unit/aiplatform/test_jobs.py
Labels: cla: yes, api: aiplatform

#634 chore: generate python samples templates in owlbot.py
  owlbot.py
  samples/model-builder/noxfile.py
  samples/snippets/noxfile.py
Labels: automerge, cla: yes, samples, api: aiplatform

#627 feat: add filter and timestamp splits
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_automl_forecasting_training_jobs.py
  tests/unit/aiplatform/test_automl_image_training_jobs.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
  tests/unit/aiplatform/test_automl_text_training_jobs.py
  tests/unit/aiplatform/test_automl_video_training_jobs.py
  tests/unit/aiplatform/test_training_jobs.py
Labels: cla: yes, api: aiplatform

#641 chore: Create README.rst
  google/cloud/aiplatform/experimental/vertex_model/README.rst
Labels: cla: yes, api: aiplatform

#645 feat: add PipelineJob.list
  google/cloud/aiplatform/pipeline_jobs.py
  tests/unit/aiplatform/test_pipeline_jobs.py
Labels: cla: yes, api: aiplatform

#646 chore: update README.rst for XAI get_metadata.
  README.rst
Labels: cla: yes, api: aiplatform

#635 feat: add util functions to get URLs for Vertex Tensorboard web app.
  google/cloud/aiplatform/utils/tensorboard_utils.py
  tests/unit/aiplatform/test_utils.py
Labels: cla: yes, api: aiplatform

#649 fix: pipeline none values
  google/cloud/aiplatform/utils/pipeline_utils.py
Labels: cla: yes, api: aiplatform

#660 feat: Add wait_for_resource_creation to BatchPredictionJob and unblock async creation when model is pending creation.
  README.rst
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  tests/system/aiplatform/e2e_base.py
  tests/system/aiplatform/test_e2e_tabular.py
  tests/unit/aiplatform/test_jobs.py
  tests/unit/aiplatform/test_training_jobs.py
Labels: cla: yes, api: aiplatform

#628 feat: remote prediction with VertexModel
  google/cloud/aiplatform/experimental/vertex_model/README.rst
  google/cloud/aiplatform/experimental/vertex_model/base.py
  google/cloud/aiplatform/experimental/vertex_model/serializers/model.py
  google/cloud/aiplatform/experimental/vertex_model/serializers/pytorch.py
  google/cloud/aiplatform/experimental/vertex_model/serializers/serializer_utils.py
  google/cloud/aiplatform/experimental/vertex_model/utils/source_utils.py
  tests/unit/aiplatform/test_cloud_training_job.py
  tests/unit/aiplatform/test_serialization.py
Labels: cla: yes, api: aiplatform
