Repository googleapis/python-aiplatform, pull requests merged in 2021-09, with the labels that each got.

#680 chore: removing owlbot directives for conversion to main
  .github/.OwlBot.lock.yaml
  CONTRIBUTING.rst
  owlbot.py
Labels: automerge, cla: yes, api: aiplatform

#684 docs: Add code sample for Pipelines
  README.rst
Labels: automerge, cla: yes, samples, api: aiplatform

#659 feat: Remove final PyTorch dependencies
  google/cloud/aiplatform/experimental/vertex_model/README.rst
  google/cloud/aiplatform/experimental/vertex_model/base.py
  google/cloud/aiplatform/experimental/vertex_model/utils/source_utils.py
  tests/unit/aiplatform/test_cloud_training_job.py
  tests/unit/aiplatform/test_serialization.py
Labels: cla: yes, api: aiplatform

#651 feat: Update tensorboard uploader to use Dispatcher for handling different event types
  google/cloud/aiplatform/tensorboard/uploader.py
  tests/unit/aiplatform/test_uploader.py
Labels: automerge, cla: yes, api: aiplatform

#689 chore: reference main branch of google-cloud-python
  README.rst
Labels: cla: yes, api: aiplatform

#672 feat: add explanation metadata `get_metadata_protobuf` for reuse
  README.rst
  google/cloud/aiplatform/explain/metadata/metadata_builder.py
  google/cloud/aiplatform/explain/metadata/tf/v1/saved_model_metadata_builder.py
  google/cloud/aiplatform/explain/metadata/tf/v2/saved_model_metadata_builder.py
  tests/unit/aiplatform/test_explain_saved_model_metadata_builder_tf1_test.py
  tests/unit/aiplatform/test_explain_saved_model_metadata_builder_tf2_test.py
Labels: cla: yes, api: aiplatform

#685 feat: Update container specification based on dependencies and GPU usage.
  google/cloud/aiplatform/experimental/vertex_model/README.rst
  google/cloud/aiplatform/experimental/vertex_model/base.py
  google/cloud/aiplatform/experimental/vertex_model/serializers/model.py
  tests/unit/aiplatform/test_cloud_training_job.py
Labels: cla: yes, api: aiplatform

#686 feat: lazy load serialization and finish testing suite
  google/cloud/aiplatform/experimental/vertex_model/README.rst
  google/cloud/aiplatform/experimental/vertex_model/base.py
  google/cloud/aiplatform/experimental/vertex_model/serializers/__init__.py
  google/cloud/aiplatform/experimental/vertex_model/serializers/model.py
  google/cloud/aiplatform/experimental/vertex_model/serializers/pandas.py
  google/cloud/aiplatform/experimental/vertex_model/serializers/pytorch.py
  google/cloud/aiplatform/experimental/vertex_model/utils/source_utils.py
  tests/system/aiplatform/test_e2e_vertex_model.py
  tests/system/aiplatform/test_vertex_model.py
  tests/unit/aiplatform/test_cloud_training_job.py
  tests/unit/aiplatform/test_serialization.py
Labels: cla: yes, api: aiplatform

#698 chore: Update Vertex SDK code owners
  .github/CODEOWNERS
Labels: cla: yes, api: aiplatform

#697 chore: Update Explainable AI to v1
  google/cloud/aiplatform/compat/__init__.py
  google/cloud/aiplatform/compat/types/__init__.py
  google/cloud/aiplatform/explain/__init__.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  tests/unit/aiplatform/test_endpoints.py
  tests/unit/aiplatform/test_jobs.py
  tests/unit/aiplatform/test_models.py
Labels: cla: yes, api: aiplatform

#692 feat: expose additional_experiments by adding a new private method to AutoMLForecastingTrainingJob
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_automl_forecasting_training_jobs.py
Labels: cla: yes, api: aiplatform

#705 fix: XAI Metadata compatibility with Model.upload
  google/cloud/aiplatform/explain/metadata/tf/v1/saved_model_metadata_builder.py
  google/cloud/aiplatform/explain/metadata/tf/v2/saved_model_metadata_builder.py
  tests/unit/aiplatform/test_explain_saved_model_metadata_builder_tf1_test.py
  tests/unit/aiplatform/test_explain_saved_model_metadata_builder_tf2_test.py
Labels: cla: yes, api: aiplatform

#663 fix: Update milli node hours for image training
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_automl_image_training_jobs.py
Labels: cla: yes, api: aiplatform

#693 feat(PipelineJob): support dict, list, bool typed input parameters fr…
  google/cloud/aiplatform/utils/pipeline_utils.py
  tests/unit/aiplatform/test_utils.py
Labels: cla: yes, api: aiplatform

#712 chore: Add explicit project name to E2E create_bucket
  tests/system/aiplatform/e2e_base.py
Labels: automerge, cla: yes, api: aiplatform

#720 chore: Use `True` for PipelineJob for clearer documentation
  README.rst
Labels: cla: yes, api: aiplatform

#710 feat: Updating the Tensorboard uploader to use the new batch write API so it runs more efficiently
  google/cloud/aiplatform/tensorboard/uploader.py
  google/cloud/aiplatform/tensorboard/uploader_main.py
  tests/unit/aiplatform/test_uploader.py
Labels: cla: yes, api: aiplatform

#719 fix(PipelineJob): use name as output only field
  google/cloud/aiplatform/pipeline_jobs.py
  tests/unit/aiplatform/test_pipeline_jobs.py
Labels: cla: yes, api: aiplatform

#709 feat: code snippets for feature store control plane
  samples/snippets/conftest.py
  samples/snippets/feature_store_service/create_entity_type_sample.py
  samples/snippets/feature_store_service/create_entity_type_sample_test.py
  samples/snippets/feature_store_service/create_feature_sample.py
  samples/snippets/feature_store_service/create_feature_sample_test.py
  samples/snippets/feature_store_service/create_featurestore_sample.py
  samples/snippets/feature_store_service/create_featurestore_sample_test.py
  samples/snippets/feature_store_service/delete_featurestore_sample.py
  samples/snippets/feature_store_service/delete_featurestore_sample_test.py
  samples/snippets/helpers.py
Labels: cla: yes, api: aiplatform

#728 fix: #677
  docs/README.rst
Labels: automerge, cla: yes, api: aiplatform

#717 fix: use the project id from BQ dataset instead of the default project id
  google/cloud/aiplatform/jobs.py
  tests/unit/aiplatform/test_jobs.py
Labels: cla: yes, api: aiplatform, auto-merge

#734 feat: add flaky test diagnostic script and fix flaky test
  samples/snippets/conftest.py
  samples/snippets/helpers.py
  samples/snippets/pipeline_service/create_training_pipeline_tabular_regression_sample_test.py
  scripts/run_flaky_test_diagnostic.py
Labels: cla: yes, api: aiplatform
