Repository googleapis/python-aiplatform, pull requests merged in 2021-12, with the labels that each got.

#871 docs: Reverted IDs in model_service snippets test
  samples/snippets/model_service/get_model_evaluation_tabular_regression_sample_test.py
Labels: cla: yes, api: aiplatform

#779 feat: Support uploading local models
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/utils/gcs_utils.py
  tests/system/aiplatform/test_model_upload.py
  tests/unit/aiplatform/test_models.py
Labels: type: feature request, cla: yes, api: aiplatform

#881 fix: Fixed model uploading unittests failing on python 3.6
  tests/unit/aiplatform/test_models.py
Labels: cla: yes, api: aiplatform

#880 tests: Run unit tests in all Py versions for CI
  .kokoro/presubmit/presubmit.cfg
Labels: cla: yes, api: aiplatform

#857 fix: Support multiple instances in custom predict sample
  samples/snippets/prediction_service/predict_custom_trained_model_sample.py
  samples/snippets/prediction_service/predict_custom_trained_model_sample_test.py
Labels: cla: yes, samples, api: aiplatform

#883 tests: update upload model uri
  tests/system/aiplatform/test_model_upload.py
Labels: automerge, cla: yes, api: aiplatform

#889 chore(samples): update uri in object detection yaml
  samples/snippets/prediction_service/predict_image_object_detection_sample.py
Labels: api: aiplatform

#890 docs: Update references to containers and notebook samples.
  README.rst
Labels: automerge, samples, api: aiplatform

#887 fix: add param for multi-label per user's feedback
  samples/model-builder/create_training_pipeline_image_classification_sample.py
  samples/model-builder/create_training_pipeline_image_classification_sample_test.py
Labels: cla: yes, api: aiplatform

#886 fix: add clarity to parameters per user feedback
  samples/model-builder/predict_tabular_classification_sample.py
  samples/model-builder/predict_tabular_classification_sample_test.py
  samples/model-builder/predict_tabular_regression_sample.py
  samples/model-builder/predict_tabular_regression_sample_test.py
Labels: cla: yes, api: aiplatform

#891 samples: add model_type for create_training_pipeline_image_classification_sample
  samples/model-builder/create_training_pipeline_image_classification_sample.py
  samples/model-builder/create_training_pipeline_image_classification_sample_test.py
  samples/model-builder/test_constants.py
Labels: samples, api: aiplatform, auto-merge

#894 docs: Updated docstrings with exception error classes
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/datasets/_datasources.py
  google/cloud/aiplatform/datasets/dataset.py
  google/cloud/aiplatform/explain/metadata/tf/v1/saved_model_metadata_builder.py
  google/cloud/aiplatform/explain/metadata/tf/v2/saved_model_metadata_builder.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/metadata/metadata.py
  google/cloud/aiplatform/metadata/resource.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
  google/cloud/aiplatform/utils/featurestore_utils.py
  google/cloud/aiplatform/utils/tensorboard_utils.py
Labels: api: aiplatform

#888 fix: add clarity to param model_name
  samples/model-builder/deploy_model_with_automatic_resources_sample.py
  samples/model-builder/deploy_model_with_dedicated_resources_sample.py
Labels: automerge, api: aiplatform

#901 refactor: Support nested resources
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/datasets/dataset.py
  google/cloud/aiplatform/featurestore/entity_type.py
  google/cloud/aiplatform/featurestore/feature.py
  google/cloud/aiplatform/featurestore/featurestore.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/metadata/artifact.py
  google/cloud/aiplatform/metadata/context.py
  google/cloud/aiplatform/metadata/execution.py
  google/cloud/aiplatform/metadata/metadata_store.py
  google/cloud/aiplatform/metadata/resource.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/pipeline_jobs.py
  google/cloud/aiplatform/tensorboard/tensorboard_resource.py
  google/cloud/aiplatform/training_jobs.py
  google/cloud/aiplatform/utils/__init__.py
  google/cloud/aiplatform/utils/console_utils.py
  google/cloud/aiplatform/utils/featurestore_utils.py
  google/cloud/aiplatform_v1/services/prediction_service/client.py
  tests/unit/aiplatform/test_endpoints.py
  tests/unit/aiplatform/test_featurestores.py
  tests/unit/aiplatform/test_jobs.py
  tests/unit/aiplatform/test_models.py
  tests/unit/aiplatform/test_utils.py
Labels: automerge

#898 fix: Improve handling of undeploying model without redistributing remaining traffic
  google/cloud/aiplatform/models.py
  tests/unit/aiplatform/test_endpoints.py
Labels: automerge, api: aiplatform

#874 Feat: Add LIT methods for Pandas DataFrame and TensorFlow saved model.
  google/cloud/aiplatform/explain/lit.py
  setup.py
  tests/unit/aiplatform/test_explain_lit.py
Labels: automerge, cla: yes, api: aiplatform

#915 fix: issues/192254729
  samples/model-builder/create_training_pipeline_tabular_classification_sample.py
  samples/model-builder/create_training_pipeline_tabular_classification_sample_test.py
Labels: automerge

#914 fix: issues/192254729
  samples/model-builder/create_training_pipeline_tabular_regression_sample.py
  samples/model-builder/create_training_pipeline_tabular_regression_sample_test.py
Labels: automerge

#872 feat: add create in Featurestore, EntityType, Feature; add create_entity_type in Featurestore; add create_feature, batch_create_features in EntityType; add ingest_from_* for bq and gcs in EntityType; add and update delete with force delete nested resources
  google/cloud/aiplatform/featurestore/entity_type.py
  google/cloud/aiplatform/featurestore/feature.py
  google/cloud/aiplatform/featurestore/featurestore.py
  google/cloud/aiplatform/utils/__init__.py
  google/cloud/aiplatform/utils/featurestore_utils.py
  tests/system/aiplatform/e2e_base.py
  tests/system/aiplatform/test_featurestore.py
  tests/unit/aiplatform/test_featurestores.py
  tests/unit/aiplatform/test_utils.py
Labels: automerge, cla: yes, api: aiplatform

#909 feat: Add support to create TensorboardExperiment
  google/cloud/aiplatform/__init__.py
  google/cloud/aiplatform/tensorboard/__init__.py
  google/cloud/aiplatform/tensorboard/tensorboard_resource.py
  tests/system/aiplatform/test_tensorboard.py
  tests/unit/aiplatform/test_tensorboard.py
Labels: automerge
