Repository googleapis/python-aiplatform, pull requests merged in 2021-06, with the labels that each got.

#428 feat: support additional_experiments for AutoML Tables and AutoML Forecasting
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_automl_forecasting_training_jobs.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
Labels: api: aiplatform, cla: yes

#460 fix: Enable MetadataStore to use credentials when aiplatfrom.init passed experiment and credentials.
  google/cloud/aiplatform/initializer.py
  google/cloud/aiplatform/metadata/metadata_store.py
  tests/unit/aiplatform/test_metadata.py
Labels: api: aiplatform, cla: yes

#462 feat: add tensorboard support for CustomTrainingJob, CustomContainerTrainingJob, CustomPythonPackageTrainingJob
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/training_jobs.py
  google/cloud/aiplatform/utils/console_utils.py
  tests/unit/aiplatform/test_end_to_end.py
  tests/unit/aiplatform/test_training_jobs.py
Labels: api: aiplatform, cla: yes

#469 fix: pass credentials to BQ and GCS clients
  google/cloud/aiplatform/datasets/dataset.py
  google/cloud/aiplatform/datasets/tabular_dataset.py
  tests/unit/aiplatform/test_datasets.py
Labels: api: aiplatform, cla: yes

#473 fix: add target_column docstring
  google/cloud/aiplatform/training_jobs.py
Labels: api: aiplatform, cla: yes

#481 fix: exclude docs and tests from package
  setup.py
Labels: api: aiplatform, automerge, cla: yes

#478 fix: Remove URI attribute from Endpoint sample
  samples/model-builder/create_endpoint_sample.py
Labels: api: aiplatform, automerge, cla: yes, samples

#477 feat: Expose additional attributes into Vertex SDK to close gap with GAPIC
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/initializer.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_models.py
  tests/unit/aiplatform/test_training_jobs.py
Labels: api: aiplatform, cla: yes

#463 feat: add pipeline client to vertex
  google/cloud/aiplatform/__init__.py
  google/cloud/aiplatform/compat/types/__init__.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/pipeline_jobs.py
  google/cloud/aiplatform/utils/__init__.py
  google/cloud/aiplatform/utils/json_utils.py
  google/cloud/aiplatform/utils/pipeline_utils.py
  tests/unit/aiplatform/test_pipeline_jobs.py
  tests/unit/aiplatform/test_uploader.py
  tests/unit/aiplatform/test_utils.py
Labels: api: aiplatform, cla: yes

#488 feat: add cancel method to pipeline client
  google/cloud/aiplatform/pipeline_jobs.py
  tests/unit/aiplatform/test_pipeline_jobs.py
Labels: api: aiplatform, cla: yes

#494 fix: check if training_task_metadata is populated before logging backingCustomJob
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_training_jobs.py
Labels: api: aiplatform, cla: yes

#502 feat: Add structure for XAI explain (from XAI SDK)
  google/cloud/aiplatform/explain/metadata/__init__.py
  google/cloud/aiplatform/explain/metadata/metadata_builder.py
  google/cloud/aiplatform/explain/metadata/tf/__init__.py
Labels: api: aiplatform, cla: yes

#508 test: disabled tests to reduce the cost & resolve quota issues
  samples/snippets/create_batch_prediction_job_tabular_forecasting_sample_test.py
  samples/snippets/create_batch_prediction_job_text_classification_sample_test.py
  samples/snippets/create_batch_prediction_job_text_entity_extraction_sample_test.py
  samples/snippets/create_batch_prediction_job_text_sentiment_analysis_sample_test.py
  samples/snippets/create_batch_prediction_job_video_action_recognition_sample_test.py
  samples/snippets/create_batch_prediction_job_video_classification_sample_test.py
  samples/snippets/create_batch_prediction_job_video_object_tracking_sample_test.py
  samples/snippets/create_dataset_image_sample_test.py
  samples/snippets/create_dataset_tabular_gcs_sample_test.py
  samples/snippets/create_dataset_video_sample_test.py
  samples/snippets/create_hyperparameter_tuning_job_python_package_sample_test.py
  samples/snippets/create_training_pipeline_custom_job_sample_test.py
  samples/snippets/create_training_pipeline_custom_training_managed_dataset_sample_test.py
  samples/snippets/create_training_pipeline_image_classification_sample_test.py
  samples/snippets/create_training_pipeline_image_object_detection_sample_test.py
  samples/snippets/create_training_pipeline_tabular_classification_sample_test.py
  samples/snippets/create_training_pipeline_tabular_forecasting_sample_test.py
  samples/snippets/create_training_pipeline_text_sentiment_analysis_sample_test.py
  samples/snippets/create_training_pipeline_video_action_recognition_sample_test.py
  samples/snippets/create_training_pipeline_video_classification_sample_test.py
  samples/snippets/deploy_model_custom_trained_model_sample_test.py
  samples/snippets/export_model_tabular_classification_sample_test.py
  samples/snippets/export_model_video_action_recognition_sample_test.py
  samples/snippets/import_data_text_entity_extraction_sample_test.py
  samples/snippets/import_data_video_action_recognition_sample_test.py
  samples/snippets/import_data_video_classification_sample_test.py
  samples/snippets/upload_model_explain_image_managed_container_sample_test.py
  samples/snippets/upload_model_explain_tabular_managed_container_sample_test.py
Labels: api: aiplatform, cla: yes

#499 fix: making the uploader depend on tensorflow-proper
  setup.py
Labels: api: aiplatform, cla: yes

#512 fix: Set prediction client when listing Endpoints
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/models.py
  tests/unit/aiplatform/test_endpoints.py
Labels: api: aiplatform, cla: yes
