Repository googleapis/python-aiplatform, pull requests merged in 2021-10, with the labels that each got.

#742 chore: Small testing updates to address periodic system and sample test failures
  .kokoro/continuous/common.cfg
  README.rst
  samples/snippets/pipeline_service/create_training_pipeline_sample_test.py
  samples/snippets/pipeline_service/create_training_pipeline_tabular_classification_sample_test.py
  samples/snippets/pipeline_service/create_training_pipeline_tabular_forecasting_sample_test.py
  samples/snippets/pipeline_service/create_training_pipeline_text_entity_extraction_sample_test.py
  samples/snippets/pipeline_service/create_training_pipeline_text_sentiment_analysis_sample_test.py
  samples/snippets/pipeline_service/create_training_pipeline_video_action_recognition_sample_test.py
  samples/snippets/pipeline_service/create_training_pipeline_video_classification_sample_test.py
  samples/snippets/pipeline_service/create_training_pipeline_video_object_tracking_sample_test.py
Labels: cla: yes, samples, api: aiplatform

#647 feat: Added column_specs, training_encryption_spec_key_name, model_encryption_spec_key_name to AutoMLForecastingTrainingJob.init and various split methods to AutoMLForecastingTrainingJob.run
  google/cloud/aiplatform/datasets/__init__.py
  google/cloud/aiplatform/datasets/column_names_dataset.py
  google/cloud/aiplatform/datasets/tabular_dataset.py
  google/cloud/aiplatform/datasets/time_series_dataset.py
  google/cloud/aiplatform/training_jobs.py
  google/cloud/aiplatform/utils/column_transformations_utils.py
  tests/unit/aiplatform/test_automl_forecasting_training_jobs.py
Labels: cla: yes, api: aiplatform

#704 feat: Add one shot profile uploads to tensorboard uploader.
  google/cloud/aiplatform/tensorboard/plugins/tf_profiler/profile_uploader.py
  google/cloud/aiplatform/tensorboard/uploader.py
  google/cloud/aiplatform/tensorboard/uploader_utils.py
  tests/unit/aiplatform/test_uploader.py
Labels: cla: yes, api: aiplatform

#695 fix: Remove sync parameter from create_endpoint_sample
  samples/model-builder/create_endpoint_sample.py
Labels: automerge, type: cleanup, priority: p2, cla: yes, samples, lang: python, api: aiplatform

#778 chore: upgrade GAPIC Metadata from v1beta1 to v1 and add experiment logging integration test
  google/cloud/aiplatform/compat/__init__.py
  google/cloud/aiplatform/compat/services/__init__.py
  google/cloud/aiplatform/compat/types/__init__.py
  google/cloud/aiplatform/metadata/artifact.py
  google/cloud/aiplatform/metadata/context.py
  google/cloud/aiplatform/metadata/execution.py
  google/cloud/aiplatform/metadata/metadata_store.py
  google/cloud/aiplatform/metadata/resource.py
  google/cloud/aiplatform/utils/__init__.py
  tests/system/aiplatform/test_metadata.py
  tests/unit/aiplatform/test_metadata.py
  tests/unit/aiplatform/test_metadata_resources.py
  tests/unit/aiplatform/test_metadata_store.py
Labels: cla: yes, api: aiplatform

#794 chore: Deprecate feature store v1beta1 code samples
  samples/snippets/feature_store_service/batch_create_features_sample_v1beta1.py
  samples/snippets/feature_store_service/batch_create_features_sample_v1beta1_test.py
  samples/snippets/feature_store_service/batch_read_feature_values_sample_v1beta1.py
  samples/snippets/feature_store_service/batch_read_feature_values_sample_v1beta1_test.py
  samples/snippets/feature_store_service/create_entity_type_sample_v1beta1.py
  samples/snippets/feature_store_service/create_entity_type_sample_v1beta1_test.py
  samples/snippets/feature_store_service/create_feature_sample_v1beta1.py
  samples/snippets/feature_store_service/create_feature_sample_v1beta1_test.py
  samples/snippets/feature_store_service/create_featurestore_sample_v1beta1.py
  samples/snippets/feature_store_service/create_featurestore_sample_v1beta1_test.py
  samples/snippets/feature_store_service/delete_featurestore_sample_v1beta1.py
  samples/snippets/feature_store_service/delete_featurestore_sample_v1beta1_test.py
  samples/snippets/feature_store_service/import_feature_values_sample_v1beta1.py
  samples/snippets/feature_store_service/import_feature_values_sample_v1beta1_test.py
  samples/snippets/feature_store_service/read_feature_values_sample_v1beta1.py
  samples/snippets/feature_store_service/read_feature_values_sample_v1beta1_test.py
Labels: cla: yes, samples, api: aiplatform
