Repository googleapis/python-aiplatform, pull requests merged in 2021-11, with the labels that each got.

#782 fix: Fixed docstrings for Dataset in AutoMLForecastingTrainingJob
  google/cloud/aiplatform/training_jobs.py
Labels: cla: yes, api: aiplatform

#816 fix: Correct PipelineJob credentials description
  google/cloud/aiplatform/pipeline_jobs.py
Labels: cla: yes, api: aiplatform

#750 feat: PipelineJob switch to v1 API from v1beta1 API
  google/cloud/aiplatform/compat/types/__init__.py
  google/cloud/aiplatform/pipeline_jobs.py
  google/cloud/aiplatform/utils/__init__.py
  tests/unit/aiplatform/test_pipeline_jobs.py
Labels: cla: yes, api: aiplatform

#821 docs: Fix pydocs README to be consistent with repo README
  docs/README.rst
Labels: cla: yes, api: aiplatform

#818 docs: Improved image dataset creation sample
  samples/model-builder/create_and_import_dataset_image_sample.py
Labels: cla: yes, samples, api: aiplatform

#811 feat: Update constants.py
  google/cloud/aiplatform/constants.py
Labels: cla: yes, api: aiplatform

#831 fix: exclude support for python 3.10
  CONTRIBUTING.rst
  noxfile.py
  owlbot.py
  setup.py
Labels: cla: yes, api: aiplatform

#768 tests: Test python 3.9 unit tests
  .kokoro/presubmit/presubmit.cfg
Labels: automerge, cla: yes, api: aiplatform

#839 chore: exclude codeowners template
  owlbot.py
Labels: cla: yes, api: aiplatform

#817 fix: add parameters_value in PipelineJob for schema > 2.0.0
  google/cloud/aiplatform/utils/pipeline_utils.py
  tests/unit/aiplatform/test_pipeline_jobs.py
  tests/unit/aiplatform/test_utils.py
Labels: cla: yes, api: aiplatform

#833 feat: default to custom job display name if experiment name looks like a custom job ID
  google/cloud/aiplatform/tensorboard/uploader_main.py
  tests/unit/aiplatform/test_uploader_main.py
Labels: cla: yes, api: aiplatform

#849 feat: Upgrade Tensorboard from v1beta1 to v1
  google/cloud/aiplatform/compat/__init__.py
  google/cloud/aiplatform/compat/services/__init__.py
  google/cloud/aiplatform/compat/types/__init__.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/tensorboard/tensorboard.py
  google/cloud/aiplatform/utils/__init__.py
  tests/system/aiplatform/test_tensorboard.py
  tests/unit/aiplatform/test_custom_job.py
  tests/unit/aiplatform/test_hyperparameter_tuning_job.py
  tests/unit/aiplatform/test_tensorboard.py
Labels: cla: yes, api: aiplatform

#844 chore: update doc links from googleapis.dev to cloud.google.com
  .repo-metadata.json
  README.rst
Labels: cla: yes, api: aiplatform

#851 feat: updating Tensorboard related code to use v1
  google/cloud/aiplatform/compat/__init__.py
  google/cloud/aiplatform/tensorboard/plugins/tf_profiler/profile_uploader.py
  google/cloud/aiplatform/tensorboard/uploader.py
  google/cloud/aiplatform/tensorboard/uploader_utils.py
  tests/unit/aiplatform/test_uploader.py
Labels: cla: yes, api: aiplatform

#859 docs: Update name of BQ source parameter in samples
  samples/model-builder/create_and_import_dataset_tabular_bigquery_sample.py
  samples/model-builder/create_and_import_dataset_tabular_bigquery_sample_test.py
Labels: cla: yes, samples, api: aiplatform

#850 feat: add featurestore module including Featurestore, EntityType, and Feature classes; add get, update, delete, list methods in all featurestore classes; add search method in Feature class
  google/cloud/aiplatform/__init__.py
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/compat/__init__.py
  google/cloud/aiplatform/compat/services/__init__.py
  google/cloud/aiplatform/compat/types/__init__.py
  google/cloud/aiplatform/featurestore/__init__.py
  google/cloud/aiplatform/featurestore/entity_type.py
  google/cloud/aiplatform/featurestore/feature.py
  google/cloud/aiplatform/featurestore/featurestore.py
  google/cloud/aiplatform/utils/__init__.py
  google/cloud/aiplatform/utils/featurestore_utils.py
  tests/system/aiplatform/test_featurestore.py
  tests/unit/aiplatform/test_featurestores.py
Labels: cla: yes, api: aiplatform, auto-merge
