Repository googleapis/python-aiplatform, pull requests merged in 2021-05, with the labels that each got.

#359 fix(aiplatform): Fix doc formatting
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/datasets/_datasources.py
  google/cloud/aiplatform/datasets/dataset.py
  google/cloud/aiplatform/datasets/image_dataset.py
  google/cloud/aiplatform/datasets/tabular_dataset.py
  google/cloud/aiplatform/datasets/text_dataset.py
  google/cloud/aiplatform/datasets/video_dataset.py
  google/cloud/aiplatform/initializer.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
  google/cloud/aiplatform/training_utils.py
  google/cloud/aiplatform/utils.py
Labels: api: aiplatform, cla: yes

#353 feat: Add export model
  google/cloud/aiplatform/models.py
  tests/unit/aiplatform/test_models.py
Labels: api: aiplatform, cla: yes

#307 Feat: add mbsdk video dataset samples
  samples/model-builder/conftest.py
  samples/model-builder/create_and_import_dataset_video_sample.py
  samples/model-builder/create_and_import_dataset_video_sample_test.py
  samples/model-builder/import_data_video_action_recognition_sample.py
  samples/model-builder/import_data_video_action_recognition_sample_test.py
  samples/model-builder/import_data_video_classification_sample.py
  samples/model-builder/import_data_video_classification_sample_test.py
  samples/model-builder/import_data_video_object_tracking_sample.py
  samples/model-builder/import_data_video_object_tracking_sample_test.py
Labels: api: aiplatform, cla: yes, samples

#361 Remove MB type, enforce metrics value type and add experiment description support
  google/cloud/aiplatform/initializer.py
  google/cloud/aiplatform/metadata/constants.py
  google/cloud/aiplatform/metadata/metadata.py
  google/cloud/aiplatform/metadata/resource.py
  tests/unit/aiplatform/test_initializer.py
  tests/unit/aiplatform/test_metadata.py
Labels: api: aiplatform, cla: yes

#357 feat: Added default AutoMLTabularTrainingJob column transformations
  google/cloud/aiplatform/datasets/_datasources.py
  google/cloud/aiplatform/datasets/tabular_dataset.py
  google/cloud/aiplatform/initializer.py
  google/cloud/aiplatform/training_jobs.py
  google/cloud/aiplatform/utils.py
  tests/system/aiplatform/test_dataset.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
  tests/unit/aiplatform/test_datasets.py
Labels: api: aiplatform, cla: yes

#237 feat: Added AutoMLForecastingTrainingJob and tests
  google/cloud/aiplatform/__init__.py
  google/cloud/aiplatform/datasets/__init__.py
  google/cloud/aiplatform/datasets/_datasources.py
  google/cloud/aiplatform/datasets/time_series_dataset.py
  google/cloud/aiplatform/schema.py
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_automl_forecasting_training_jobs.py
Labels: api: aiplatform, cla: yes

#369 chore: add extras dependencies and install for testing
  noxfile.py
  setup.py
Labels: api: aiplatform, cla: yes

#371 fix: Bump google-cloud-storage min version to 1.32.0
  setup.py
  testing/constraints-3.6.txt
Labels: api: aiplatform, cla: yes

#364 feat(aiplatform): Add support for setting User agent header
  google/cloud/aiplatform/constants.py
  google/cloud/aiplatform/initializer.py
Labels: api: aiplatform, cla: yes

#372 fix: enable metadata dataframe related tests
  tests/unit/aiplatform/test_metadata.py
Labels: api: aiplatform, cla: yes

#366 feat: expose env var in cust training class run func args
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_training_jobs.py
Labels: api: aiplatform, cla: yes

#373 chore: add library type to .repo-metadata.json
  .repo-metadata.json
Labels: api: aiplatform, automerge, cla: yes

#376 chore: merge dev into dev-test
  google/cloud/aiplatform/__init__.py
  google/cloud/aiplatform/datasets/__init__.py
  google/cloud/aiplatform/datasets/_datasources.py
  google/cloud/aiplatform/datasets/time_series_dataset.py
  google/cloud/aiplatform/schema.py
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_automl_forecasting_training_jobs.py
Labels: api: aiplatform, cla: yes

#368 feat: adding TB.gcp uploader to python-aiplatform
  google/cloud/aiplatform/compat/__init__.py
  google/cloud/aiplatform/compat/services/__init__.py
  google/cloud/aiplatform/compat/types/__init__.py
  google/cloud/aiplatform/tensorboard/__init__.py
  google/cloud/aiplatform/tensorboard/uploader.py
  google/cloud/aiplatform/tensorboard/uploader_main.py
  google/cloud/aiplatform/utils.py
  setup.py
  tests/unit/aiplatform/test_uploader.py
Labels: api: aiplatform, cla: yes

#379 fix: env formatting
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_training_jobs.py
Labels: api: aiplatform, cla: yes

#380 fix: updating TB webserver hostname
  google/cloud/aiplatform/tensorboard/uploader_main.py
Labels: api: aiplatform, cla: yes

#378 feat: Add VPC Peering support to CustomTrainingJob classes
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_training_jobs.py
Labels: api: aiplatform, cla: yes

#300 feat: Add AutoML vision, Custom training job, and generic prediction samples
  samples/model-builder/automl_image_classification_training_job_sample.py
  samples/model-builder/automl_image_classification_training_job_sample_test.py
  samples/model-builder/conftest.py
  samples/model-builder/custom_training_job_sample.py
  samples/model-builder/custom_training_job_sample_test.py
  samples/model-builder/endpoint_predict_sample.py
  samples/model-builder/endpoint_predict_sample_test.py
  samples/model-builder/image_dataset_create_classification_sample.py
  samples/model-builder/image_dataset_create_classification_sample_test.py
  samples/model-builder/image_dataset_create_object_detection_sample.py
  samples/model-builder/image_dataset_create_object_detection_sample_test.py
  samples/model-builder/image_dataset_create_sample.py
  samples/model-builder/image_dataset_create_sample_test.py
  samples/model-builder/image_dataset_import_data_sample.py
  samples/model-builder/image_dataset_import_data_sample_test.py
  samples/model-builder/test_constants.py
Labels: api: aiplatform, automerge, cla: yes, samples

#383 samples: adds batch prediction, training job for text with SDK use cases
  samples/model-builder/conftest.py
  samples/model-builder/create_batch_prediction_job_sample.py
  samples/model-builder/create_training_pipeline_text_classification_sample.py
  samples/model-builder/create_training_pipeline_text_classification_sample_test.py
  samples/model-builder/create_training_pipeline_text_entity_extraction_sample.py
  samples/model-builder/create_training_pipeline_text_entity_extraction_sample_test.py
  samples/model-builder/create_training_pipeline_text_sentiment_analysis_sample.py
  samples/model-builder/create_training_pipeline_text_sentiment_analysis_sample_test.py
Labels: api: aiplatform, cla: yes, samples

#392 fix(deps): add packaging requirement
  setup.py
  testing/constraints-3.6.txt
Labels: api: aiplatform, automerge, cla: yes

#391 fix: rollback six to 1.15
  setup.py
Labels: api: aiplatform, cla: yes

#396 samples: Add Batch Prediction Job with dedicated resources sample
  samples/model-builder/create_batch_prediction_job_dedicated_resources_sample.py
  samples/model-builder/create_batch_prediction_job_dedicated_resources_sample_test.py
Labels: api: aiplatform, automerge, cla: yes, samples

#388 feat: add custom and hp tuning
  google/cloud/aiplatform/__init__.py
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/compat/__init__.py
  google/cloud/aiplatform/compat/types/__init__.py
  google/cloud/aiplatform/hyperparameter_tuning.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/training_jobs.py
  google/cloud/aiplatform/training_utils.py
  google/cloud/aiplatform/utils/__init__.py
  google/cloud/aiplatform/utils/source_utils.py
  google/cloud/aiplatform/utils/worker_spec_utils.py
  tests/unit/aiplatform/test_custom_job.py
  tests/unit/aiplatform/test_end_to_end.py
  tests/unit/aiplatform/test_hyperparameter_tuning_job.py
  tests/unit/aiplatform/test_training_jobs.py
  tests/unit/aiplatform/test_training_utils.py
Labels: api: aiplatform, cla: yes

#404 feat: add tensorboard support to custom job and hyperparameter tuning job
  google/cloud/aiplatform/jobs.py
  tests/unit/aiplatform/test_custom_job.py
  tests/unit/aiplatform/test_hyperparameter_tuning_job.py
Labels: api: aiplatform, cla: yes

#405 chore: Replace AI Platform naming with Vertex AI
  .github/CODEOWNERS
  .repo-metadata.json
  README.rst
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/datasets/_datasources.py
  google/cloud/aiplatform/datasets/dataset.py
  google/cloud/aiplatform/datasets/image_dataset.py
  google/cloud/aiplatform/datasets/tabular_dataset.py
  google/cloud/aiplatform/datasets/text_dataset.py
  google/cloud/aiplatform/datasets/time_series_dataset.py
  google/cloud/aiplatform/datasets/video_dataset.py
  google/cloud/aiplatform/initializer.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/metadata/artifact.py
  google/cloud/aiplatform/metadata/context.py
  google/cloud/aiplatform/metadata/execution.py
  google/cloud/aiplatform/metadata/metadata_store.py
  google/cloud/aiplatform/metadata/resource.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/schema.py
  google/cloud/aiplatform/training_jobs.py
  google/cloud/aiplatform/utils/__init__.py
  google/cloud/aiplatform/utils/worker_spec_utils.py
  setup.py
Labels: api: aiplatform, cla: yes

#409 fix: tb-gcp-uploader to show flags in "--help" correctly, and new flags for api uri overriding
  google/cloud/aiplatform/tensorboard/uploader_main.py
Labels: api: aiplatform, cla: yes

#414 chore: update README with overview and reference to examples
  README.rst
Labels: api: aiplatform, cla: yes

#416 chore: remove generated file
  examples/feature_fragments
Labels: api: aiplatform, cla: yes

#421 fix: use resource name location when passed full resource name
  google/cloud/aiplatform/base.py
  tests/unit/aiplatform/test_datasets.py
Labels: api: aiplatform, cla: yes
