Repository googleapis/python-aiplatform, pull requests merged in 2021-04, with the labels that each got.

#280 chore: add init to documentation
  google/cloud/aiplatform/__init__.py
Labels: cla: yes

#287 refactor: remove BatchPredictionJob forward reference
  google/cloud/aiplatform/models.py
Labels: cla: yes

#291 feature: Use gca_resource as repr and provide informative repr if asynchronous
  google/cloud/aiplatform/base.py
  tests/unit/aiplatform/test_models.py
Labels: cla: yes

#290 feat: add support for multiple client versions, change aiplatform from compat.V1BETA1 to compat.V1
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/compat/__init__.py
  google/cloud/aiplatform/compat/services/__init__.py
  google/cloud/aiplatform/compat/types/__init__.py
  google/cloud/aiplatform/datasets/_datasources.py
  google/cloud/aiplatform/datasets/dataset.py
  google/cloud/aiplatform/explain/__init__.py
  google/cloud/aiplatform/helpers/_decorators.py
  google/cloud/aiplatform/initializer.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
  google/cloud/aiplatform/utils.py
  samples/snippets/requirements.txt
  tests/unit/aiplatform/test_automl_image_training_jobs.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
  tests/unit/aiplatform/test_automl_text_training_jobs.py
  tests/unit/aiplatform/test_automl_video_training_jobs.py
  tests/unit/aiplatform/test_datasets.py
  tests/unit/aiplatform/test_end_to_end.py
  tests/unit/aiplatform/test_endpoints.py
  tests/unit/aiplatform/test_initializer.py
  tests/unit/aiplatform/test_jobs.py
  tests/unit/aiplatform/test_lro.py
  tests/unit/aiplatform/test_models.py
  tests/unit/aiplatform/test_training_jobs.py
  tests/unit/aiplatform/test_utils.py
Labels: cla: yes

#281 chore: use `gcp-sphinx-docfx-yaml`
  noxfile.py
Labels: cla: yes

#295 feature: reduce training job wait time
  google/cloud/aiplatform/training_jobs.py
Labels: cla: yes

#279 chore: Add required files for Model Builder sample testing in Kokoro CI
  samples/model-builder/noxfile.py
  samples/model-builder/requirements-tests.txt
  samples/model-builder/requirements.txt
Labels: automerge, cla: yes, samples

#293 feat: adding MetadataStore class
  google/cloud/aiplatform/compat/__init__.py
  google/cloud/aiplatform/compat/services/__init__.py
  google/cloud/aiplatform/compat/types/__init__.py
  google/cloud/aiplatform/metadata/__init__.py
  google/cloud/aiplatform/metadata/metadata_store.py
  google/cloud/aiplatform/utils.py
  tests/unit/aiplatform/test_metadata.py
  tests/unit/aiplatform/test_utils.py
Labels: cla: yes

#304 chore: Remove hard sample test requirement
  .github/sync-repo-settings.yaml
Labels: cla: yes, samples

#297 Feat: parse project location when passed full resource name to get apis
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/datasets/dataset.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_datasets.py
  tests/unit/aiplatform/test_training_jobs.py
Labels: cla: yes

#294 feat: Add list() method to all resource nouns
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/datasets/dataset.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_datasets.py
  tests/unit/aiplatform/test_endpoints.py
  tests/unit/aiplatform/test_jobs.py
  tests/unit/aiplatform/test_lro.py
  tests/unit/aiplatform/test_models.py
Labels: automerge, cla: yes

#296 feat: Make aiplatform.Dataset private
  google/cloud/aiplatform/__init__.py
  google/cloud/aiplatform/datasets/__init__.py
  google/cloud/aiplatform/datasets/dataset.py
  google/cloud/aiplatform/datasets/image_dataset.py
  google/cloud/aiplatform/datasets/tabular_dataset.py
  google/cloud/aiplatform/datasets/text_dataset.py
  google/cloud/aiplatform/datasets/video_dataset.py
  google/cloud/aiplatform/training_jobs.py
  tests/system/aiplatform/test_dataset.py
  tests/unit/aiplatform/test_automl_image_training_jobs.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
  tests/unit/aiplatform/test_automl_text_training_jobs.py
  tests/unit/aiplatform/test_automl_video_training_jobs.py
  tests/unit/aiplatform/test_datasets.py
  tests/unit/aiplatform/test_end_to_end.py
  tests/unit/aiplatform/test_training_jobs.py
Labels: automerge, cla: yes

#302 feature: add logging across APIs
  google/cloud/aiplatform/base.py
  google/cloud/aiplatform/datasets/dataset.py
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/lro.py
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
  google/cloud/aiplatform/utils.py
  tests/unit/aiplatform/test_automl_image_training_jobs.py
  tests/unit/aiplatform/test_automl_tabular_training_jobs.py
  tests/unit/aiplatform/test_automl_text_training_jobs.py
  tests/unit/aiplatform/test_automl_video_training_jobs.py
  tests/unit/aiplatform/test_end_to_end.py
  tests/unit/aiplatform/test_jobs.py
  tests/unit/aiplatform/test_lro.py
  tests/unit/aiplatform/test_training_jobs.py
Labels: cla: yes

#306 chore: merge main into dev
  .github/sync-repo-settings.yaml
  google/cloud/aiplatform/base.py
  noxfile.py
Labels: cla: yes

#276 samples: NLP import and predict samples for SDK
  samples/model-builder/conftest.py
  samples/model-builder/create_and_import_dataset_text_sample.py
  samples/model-builder/create_and_import_dataset_text_sample_test.py
  samples/model-builder/create_training_pipeline_image_classification_sample.py
  samples/model-builder/create_training_pipeline_image_classification_sample_test.py
  samples/model-builder/import_data_text_classification_single_label_sample.py
  samples/model-builder/import_data_text_classification_single_label_sample_test.py
  samples/model-builder/import_data_text_entity_extraction_sample.py
  samples/model-builder/import_data_text_entity_extraction_sample_test.py
  samples/model-builder/import_data_text_sentiment_analysis_sample.py
  samples/model-builder/import_data_text_sentiment_analysis_sample_test.py
  samples/model-builder/predict_text_classification_single_label_sample.py
  samples/model-builder/predict_text_classification_single_label_sample_test.py
  samples/model-builder/predict_text_entity_extraction_sample.py
  samples/model-builder/predict_text_entity_extraction_sample_test.py
  samples/model-builder/predict_text_sentiment_analysis_sample.py
  samples/model-builder/predict_text_sentiment_analysis_sample_test.py
  samples/model-builder/test_constants.py
Labels: cla: yes, samples

#303 feat: adding MetadataService API and new classes for Context, Artifact and Execution
  google/cloud/aiplatform/__init__.py
  google/cloud/aiplatform/initializer.py
  google/cloud/aiplatform/metadata/artifact.py
  google/cloud/aiplatform/metadata/constants.py
  google/cloud/aiplatform/metadata/context.py
  google/cloud/aiplatform/metadata/execution.py
  google/cloud/aiplatform/metadata/metadata.py
  google/cloud/aiplatform/metadata/metadata_store.py
  google/cloud/aiplatform/metadata/resource.py
  google/cloud/aiplatform/utils.py
  tests/unit/aiplatform/test_initializer.py
  tests/unit/aiplatform/test_metadata_resources.py
  tests/unit/aiplatform/test_metadata_store.py
  tests/unit/aiplatform/test_utils.py
Labels: api: aiplatform, cla: yes

#310 fix: make logging more informative during training
  google/cloud/aiplatform/training_jobs.py
Labels: api: aiplatform, cla: yes

#309 chore: Repair GAPIC sample test failures from permission issue
  samples/snippets/create_custom_job_sample_test.py
  samples/snippets/create_hyperparameter_tuning_job_python_package_sample_test.py
  samples/snippets/create_hyperparameter_tuning_job_sample_test.py
  samples/snippets/create_training_pipeline_custom_training_managed_dataset_sample_test.py
Labels: api: aiplatform, cla: yes, samples

#312 chore: merge main into dev
  samples/snippets/create_custom_job_sample_test.py
  samples/snippets/create_hyperparameter_tuning_job_python_package_sample_test.py
  samples/snippets/create_hyperparameter_tuning_job_sample_test.py
  samples/snippets/create_training_pipeline_custom_training_managed_dataset_sample_test.py
Labels: api: aiplatform, cla: yes

#313 Remove stuff
  google/cloud/aiplatform/__init__.py
  google/cloud/aiplatform/initializer.py
  google/cloud/aiplatform/metadata/metadata.py
  tests/unit/aiplatform/test_initializer.py
Labels: api: aiplatform, cla: yes

#316 chore: lint mb samples
  samples/model-builder/conftest.py
  samples/model-builder/create_and_import_dataset_image_sample.py
  samples/model-builder/create_and_import_dataset_image_sample_test.py
  samples/model-builder/create_and_import_dataset_text_sample.py
  samples/model-builder/create_and_import_dataset_text_sample_test.py
  samples/model-builder/create_batch_prediction_job_sample.py
  samples/model-builder/create_batch_prediction_job_sample_test.py
  samples/model-builder/create_training_pipeline_image_classification_sample.py
  samples/model-builder/create_training_pipeline_image_classification_sample_test.py
  samples/model-builder/import_data_text_classification_single_label_sample.py
  samples/model-builder/import_data_text_classification_single_label_sample_test.py
  samples/model-builder/import_data_text_entity_extraction_sample.py
  samples/model-builder/import_data_text_entity_extraction_sample_test.py
  samples/model-builder/import_data_text_sentiment_analysis_sample.py
  samples/model-builder/import_data_text_sentiment_analysis_sample_test.py
  samples/model-builder/init_sample.py
  samples/model-builder/noxfile.py
  samples/model-builder/predict_text_classification_single_label_sample.py
  samples/model-builder/predict_text_classification_single_label_sample_test.py
  samples/model-builder/predict_text_entity_extraction_sample.py
  samples/model-builder/predict_text_entity_extraction_sample_test.py
  samples/model-builder/predict_text_sentiment_analysis_sample.py
  samples/model-builder/predict_text_sentiment_analysis_sample_test.py
Labels: api: aiplatform, cla: yes, samples

#320 fix: fix list failing without order_by and local sorting
  google/cloud/aiplatform/base.py
  tests/unit/aiplatform/test_datasets.py
Labels: api: aiplatform, cla: yes

#314 Api
  google/cloud/aiplatform/metadata/artifact.py
  google/cloud/aiplatform/metadata/constants.py
  google/cloud/aiplatform/metadata/context.py
  google/cloud/aiplatform/metadata/execution.py
  google/cloud/aiplatform/metadata/metadata.py
  google/cloud/aiplatform/metadata/metadata_store.py
  google/cloud/aiplatform/metadata/resource.py
  tests/unit/aiplatform/test_metadata.py
  tests/unit/aiplatform/test_metadata_resources.py
  tests/unit/aiplatform/test_metadata_store.py
Labels: api: aiplatform, cla: yes

#336 chore: remove Experimental verbiage
  README.rst
Labels: api: aiplatform, cla: yes

#339 chore: merge main into dev
  CHANGELOG.md
  README.rst
  google/cloud/aiplatform/base.py
  samples/snippets/requirements.txt
  setup.py
  tests/unit/aiplatform/test_datasets.py
Labels: api: aiplatform, cla: yes

#326 (feat) implement get_experiment and get_pipeline methods for Metadata service
  google/cloud/aiplatform/__init__.py
  google/cloud/aiplatform/metadata/artifact.py
  google/cloud/aiplatform/metadata/constants.py
  google/cloud/aiplatform/metadata/context.py
  google/cloud/aiplatform/metadata/execution.py
  google/cloud/aiplatform/metadata/metadata.py
  google/cloud/aiplatform/metadata/resource.py
  setup.py
  tests/unit/aiplatform/test_metadata.py
  tests/unit/aiplatform/test_metadata_resources.py
Labels: api: aiplatform, cla: yes

#324 fix: remove model_display_name requirement for training jobs
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_training_jobs.py
Labels: api: aiplatform, cla: yes

#342 feat: Add service account support to Custom Training and Model deployment
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
  tests/unit/aiplatform/test_endpoints.py
  tests/unit/aiplatform/test_models.py
  tests/unit/aiplatform/test_training_jobs.py
Labels: api: aiplatform, cla: yes

#345 fix: remove Optional type hint on deploy
  google/cloud/aiplatform/models.py
Labels: api: aiplatform, cla: yes

#346 chore: remove TPU references from docstrings
  google/cloud/aiplatform/models.py
  google/cloud/aiplatform/training_jobs.py
Labels: api: aiplatform, cla: yes

#347 fix: rename get_experiment/pipeline to get_experiment_df and get_pipeline_df
  google/cloud/aiplatform/__init__.py
  google/cloud/aiplatform/metadata/metadata.py
  tests/unit/aiplatform/test_metadata.py
Labels: api: aiplatform, cla: yes

#349 fix: Pass project to BQ and GCS clients
  google/cloud/aiplatform/jobs.py
Labels: api: aiplatform, cla: yes

#350 fix: Add all supported uCAIP GA regions
  google/cloud/aiplatform/constants.py
  tests/unit/aiplatform/test_initializer.py
Labels: api: aiplatform, cla: yes

#352 chore: rename job client to JobClient
  google/cloud/aiplatform/jobs.py
  google/cloud/aiplatform/utils.py
Labels: api: aiplatform, cla: yes

#354 feat: Add resource schema title validation on existing experiment/run. Also add metadata reset logics.
  google/cloud/aiplatform/initializer.py
  google/cloud/aiplatform/metadata/metadata.py
  tests/unit/aiplatform/test_metadata.py
Labels: api: aiplatform, cla: yes

#360 chore: Widen approval for samples
  .github/CODEOWNERS
Labels: api: aiplatform, cla: yes, samples
